body {
    font-family: Arial, sans-serif;
    font-weight: bold; /* Gushyira amagambo yose mu kandagiraneza */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f80606;
    color: #333;
}

header {
    background-color: #ff0000;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
}

.custom-logo img {
    height: 200px;
}

h1 {
    font-size: 26px;
    margin: 10px 0;
}

main {
    margin: 20px auto;
    max-width: 800px;
    background: #ffe713;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.property {
    margin-bottom: 30px;
}

.property h2 {
    color: #008000;
    font-size: 22px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

figure {
    margin: 10px;
    text-align: center;
    flex: 1;
}

figure img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #ff0000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .image-gallery {
        flex-direction: column;
        align-items: center;
    }

    figure {
        width: 100%;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 20px;
    }

    .property h2 {
        font-size: 18px;
    }
}

.whatsapp-button {
    display: inline-block;
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.whatsapp-button:hover {
    background-color: #1ebe54;
}
